.auth__main{
	background-color: $primary;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
 
.auth__box-container{
	background-color: transparent;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
	width: 100vw;
	height: 100vh;
}
.auth__form{
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	padding: 6rem 0 2rem 0;
}
.auth__form-title{
	margin-bottom: 10vh;
	text-align: center;
	color: $text;
	font-size: 3rem;
}
.auth__form-input{
	width: 83%;
	font-size: 1.6rem;
	border: none;
	outline: none;
	background-color: transparent;
	margin-bottom: 2.5rem;
	margin-right: auto;
	margin-left: auto;
	padding: 1.3rem 1rem;
	font-family: inherit;
	border-radius: 10px;
	box-shadow: 0px 0px 0px 2px $primary-l,
							0px 0px 15px -4px $primary-l;
	color: inherit;
	transition: box-shadow 0.4s;

	&:focus{
		box-shadow: 0px 0px 0px 2px $secondary,
								0px 0px 20px -4px $secondary;
	}
}
.auth__form-btn{
	width: 90% !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-gap: 2rem;
	margin-top: 2rem;
}
.auth__form-info{
	font-size: 2rem;
	margin-bottom: 16vh;
	font-size: 2.4rem;
	color: $text-o;

}
.auth__form-info-bold{
	font-weight: bold;
	color: $text;
}

.auth__container{
	padding: 4rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.auth__container-title{
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 1rem;
	cursor: default;
}
.auth__container-text{
	text-align: center;
	width: 29rem;
	margin-right: auto;
	margin-left: auto;
	cursor: default;
	margin-bottom: 2rem;
}
.auth__img{
	width: 30rem;
	border-bottom: 2px solid $primary-l;
}

.auth__container-btns{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: $primary-l;
	width: 90%;
	border-radius: 10px;
	box-shadow: 0px 0px 15px -4px $primary-l;
	margin-top: 1rem;
}
 
.auth__container-btn{
	padding: 1.5rem 1rem;
	border-radius: 10px;
	border: none;
	outline: none;
	font-size: 1.5rem;
	font-weight: bold;
	background-color: $secondary;
	cursor: pointer;
	transition: background-color 0.3s;
	color: $text;
	display: flex;
	justify-content: center;
	align-items: center;

	box-icon{
		fill: $text;
		margin-left: -2rem;
		opacity: 0;
		transition: margin-left 0.3s, opacity 0.3s;
	}

	&:hover{
		background-color: $secondary-o;

		box-icon{
			margin-left: 0.5rem;
			opacity: 1;
		}
	}
	&:last-child{
		background-color: transparent;
		box-shadow: none;
	}
}

.auth__social-login{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 25px -4px $primary-l;
	width: 18rem;
	padding: 0 2rem 0 0;
	border-radius: 10px;
	background-color: $primary-l;
	cursor: pointer;

	box-icon{
		background-color: white;
		border-radius: 10px 0px 0px 10px;
		width: 3.5rem;
		height: 3.5rem;
	}
}

.auth__alert {
	width: 100%;
	display: flex;
	// justify-content: center;
	align-items: center;
	padding: 0.9rem 0rem;
	border-radius: 10px;
	box-shadow: 0px 0px 25px -4px $error;
	transition: opacity 0.5s;
	opacity: 0;
	grid-gap: 1rem;

	box-icon{
		margin-left: 2rem
	}
}
.auth__alert-error{
	background-color: $error;
	transition: opacity 0.5s;
	opacity: 1;

	box-icon{
		fill: white;
	}
}

@media screen and (min-width: 425px){
	.auth__form-input{
		max-width: 30rem;
		min-width: 30rem;
	}
	.auth__container-btns{
		width: 35rem;
	}
}

@media screen and (min-width: 600px){
	.auth__container-btns{
		width: 40rem;
	}
	.auth__img{
		width: 40rem;
		margin-top: -3rem;
	}	
}

