.home__nav-button{
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
	border-radius: 10px;
	cursor: pointer;
	fill: $text;
	
	box-icon{
		height: 3rem;
		width: 3rem;
	}
}

@media screen and (min-width: 800px){
	.home__nav-button{
		display: none;
	}
	.home__container{
		display: grid;
		grid-template-columns: 25vw 70vw;
		justify-content: space-between;

		.home__journal-container{
			margin: 0;
			padding: 0;
		}
	}
}

