.home__container{
}
.home__nav-button{
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
	border-radius: 10px;
	cursor: pointer;
	fill: $text;
	
	box-icon{
		height: 3rem;
		width: 3rem;
	}
}

