
*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 10px
}
html, body{
	font-family: 'Signika Negative', sans-serif;
	color: $text;
	background-color: $primary;
}
body{
	font-size: 1.6rem;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px;     /* Tamaño del scroll en vertical */
    height: 3px;    /* Tamaño del scroll en horizontal */
}
body::-webkit-scrollbar-thumb {
    background-color: $secondary;
    border-radius: 50px;
    transition: background-color 0.5s;
}
body::-webkit-scrollbar-thumb:active {
    background-color: $secondary-o;
}
